@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;

}

.header{
    width:80%;
    margin: 0 auto;
    
}

/* navigation style */
.navigation-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-items{
    display: flex;
    gap: 20px;
    
}
.nav-title{
    font-weight: 600;
    font-size: 20px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

/* start header section style */

.start-journey{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    
}
.journery-container{
    width: 400px;
    height: 200px;
}
.journey-title{

}
.journey-des{

}
.journey-btn{
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    color: white;
    font-weight: 500;
}
.start-journey img{
    width: 300px;
    height: 300px;
    background-image: url(../images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
}